/* Digital style */
.bot-item .material-icons {
    line-height: 21px;
    float: left;
}
.secondary-content {
    color: #039be5;
    padding-right: 10px;
}
.bot-starting
{
    color: #EF6C00;
}
.bot-status {
    padding-right: 5px;
    text-transform: uppercase;
}
.row {
    margin: 0;
    padding: 0;
}
.row .col {
    padding: 0;
}
nav .brand-logo {
    padding-left: 20px;
}
#modal-info img {
    height: 100px;
}
.log-text {
    height: 80vh;
    overflow-y: scroll;
}
.bot-list-container {
    box-sizing: border-box;
    padding: 10px !important;
}
.logs-container {
    border-left: 1px solid #ddd;
}
.logs-container h4 {
    padding-left: 10px;
}
ul.tabs {
    border-bottom: 1px solid #ddd;
}